.containerButtonsFilter{
  display: flex;
  justify-content: center;
  margin-top: 16px;
  .buttonFilter{
    color: #fff;
    border: none;
    border: 1px solid #007bff;
    padding: 8px 16px;
    cursor: pointer;
    &:hover{
      background-color: #0056b3;
    }
  }
  
  .buttonFilter__active {
    background-color: #007bff;
  }
  
  .buttonFilter__inactive {
    background-color: #6c757d;
  }
}

