.container {
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
  height: 100vh;
  background-color: #363636;

  .formLogin,
  .formSignup {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 400px;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    .titleForm {
      font-family: 'Roboto', sans-serif;
      font-size: 24px;
      text-align: center;
      color: #333;
      font-weight: 500;
    }

    .labelForm {
      font-family: 'Roboto', sans-serif;
      font-size: 16px;
      color: #333;
      font-weight: 500;
    }

    .inputForm {
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
      font-family: 'Roboto', sans-serif;
      font-size: 16px;
    }

    .buttonForm {
      padding: 10px;
      border: none;
      border-radius: 5px;
      font-family: 'Roboto', sans-serif;
      font-size: 16px;
      font-weight: 500;
      background-color: #007bff;
      color: #fff;
      cursor: pointer;

      &:hover {
        background-color: #0056b3;
      }
    }
    .buttonForm__secondary{
      background-color: #6c757d;
      color: #fff;
      cursor: pointer;

      &:hover {
        background-color: #5a6268;
      }
    }
  }
}